
.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 80px 80px 80px;
    grid-column-gap: 10px;
    column-gap: 15px;
    grid-row-gap: 15px;
    row-gap: 15px;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

.win {
    background: #bffabf;
}


.fail {
    background-color: #f9dbdb;
}

.boardSpace {
    border: dashed;
    width: 100%;
    HEIGHT: 100%;
    text-align: center;
    line-height: 4.5;
}

.selectable:hover {
    background-color: #0c0c0c0d;
}

.resetButton {
    margin-top: 1rem
}